#root {
  width: 100%;
  margin: 0 auto;
  padding: 7rem 1rem 2rem;
  text-align: center;
}

@media (min-width: 1024px) {
  #root {
    padding-top: 8rem;
    padding-inline: 2rem;
  }
}

.loading {
  color: var(--text);
  font-size: 1.2rem;
  margin: 2rem 0;
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

main {
  flex: 1;
}

@media (min-width: 1024px) {
  #root {
    padding-top: 8rem;
    padding-inline: 2rem;
  }
}
